<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post" action="#">
            <div class="mb-3">
                <label class="form-label">Имя</label>
                <input type="text" class="form-control" name="first_name" placeholder="Имя">
            </div>
            <div class="mb-3">
                <label class="form-label">Фамилия</label>
                <input type="text" class="form-control" name="last_name" placeholder="Фамилия">
            </div>
            <div class="mb-3">
                <label class="form-label">Логин</label>
                <input type="text" class="form-control" name="login" placeholder="Логин">
            </div>
            <div class="mb-3">
                <label class="form-label">Пароль</label>
                <input type="text" name="password" class="form-control" aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                    Пароль должен содержать от 8 до 20 символов.
                </div>
            </div>
            <p style="color: #ff0000">{{ answer }}</p>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">Добавить</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
